@media (max-width: 48em) {
    .banner .card-top,
    .banner .card-back {
    width: clamp(15em, 70%, 25em);
    }
    
    .banner {
        grid-column: 1/5;
        padding: 4em;
    }
    
    form {
        grid-column: 1/4;
        grid-row: 2/4;
    }

    .card-top {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-60%, 5%);
    }

    

    .card-back {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
    }
}