/* importing a font-family: 'Space Grotesk', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* customizing styling element's name using root */
:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%); 
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --active-input: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --space-grotesk: 'Space Grotesk', sans-serif;
    --erro-input: hsl(0, 100%, 66%);
}

/* this can reset all default key values of html element */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: var(--space-grotesk);
    font-weight: 400;
    text-transform: uppercase;
}

body {
    background: var(--light-grayish-violet);
}

/* styling main element */
main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.9fr 3fr;
    overflow-x: hidden;
}
 /* styling banner */
    .banner {
        position: relative;
        background: url(./images/bg-main-desktop.png) no-repeat center/cover;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0 0  1em 0.5em var(--very-dark-violet);
    }

/* making our images dependant to it's parent */
    .card-top img,
    .card-back img {
        width: 100%;
    }
    
    .card-top img {
        filter: drop-shadow(2px 2px 3px var(--very-dark-violet));
    }
    .card-back img {
        filter: drop-shadow(2px 2px 3px var(--dark-grayish-violet));
    }
    .card-top {
        position: absolute;
        bottom: 50%;
        left: -5%;
        opacity: 0;
        animation: slideleft 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards 200ms;
    }
    
    .card-back {
        position: absolute;
        top: 50%;
        right: -15%;
        opacity: 0;
        animation: slideright 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards 300ms;
    }

    .card-logo {
        position: absolute;
        top: 1em;
        left: 1em;
    }

    .card-num,
    .card-name,
    .card-expiry,
    .card-code {
        color: var(--light-grayish-violet);
    }

    .card-num {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .card-name {
        position: absolute;
        bottom: 2.5em;
        left: 2em
    }

    .card-expiry {
        position: absolute;
        bottom: 2.5em;
        right: 2em;
    }
    
    .card-code {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 3em;
        transform: translateY(-65%);
    }

    .card-num p {
        font-size: 1.3em;
        white-space: nowrap;
    }

    .card-info img {
        width: 100%;
    }
/* banner styling end */

/* designing our form element */
    form {
    width: clamp(10em, calc(100% - 3em), 25em);
    display: flex;
    flex-direction: column;
        justify-content: center;
        gap: 1.5em;
        margin: 0 1.5em;
        
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .card-holder-name label,
    .card-number label,
    .expiration-date label,
    .security-code label {
        display: block;
    }

    .card-holder-name input,
    .card-number input,
    .expiration-date input {
        width: 100%;
    }

    .card-holder-name input,
    .card-number input,
    .expiration-date input,
    .security-code input {
        border: 0.1em solid var(--light-grayish-violet);
        border-radius: 0.5em;
    }

    .card-holder-name label,
    .card-number label,
    .expiration-date label,
    .security-code label {
        color: var(--very-dark-violet);
        margin-bottom: 0.5em;
    }

    .card-holder-name input,
    .card-number input,
    .expiration-date input,
    .security-code input {
        padding: 0.5em;
    }
    .expiration-date input {
        width: 50px;
    }

    .security-code input {
        width: 80px;
    }

    .exp-date_security-code {
        display: flex;
        justify-content: space-between;
    }

    form button {
        cursor: pointer;
        color: var(--light-grayish-violet);
        background: var(--very-dark-violet);
        padding: 1em;
        border-radius: 0.5em;
    }

/* form styling end */

/* animating card front and back */
@keyframes slideleft {
    0% { 
        transform: translate(-300px, 5%);
        opacity: 0;
    }
    
    100% {
        transform: translate(20%, 5%);
        opacity: 1;
    }
}
@keyframes slideright {
    0% { 
        transform: translate(300px, -10%);
        opacity: 0;
    }
    
    100% {
        transform: translate(30%, 10%);
        opacity: 1;
    }
}
