@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%); 
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --active-input: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --space-grotesk: 'Space Grotesk', sans-serif;
    --erro-input: hsl(0, 100%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: var(--space-grotesk);
    font-weight: 400;
    text-transform: uppercase;
}

body {
    overflow: hidden;
}
main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 3fr;

}

.card-top img,
.card-back img {
    width: 100%;
}


.banner {
    position: relative;
    background: url('./images/bg-main-desktop.png') no-repeat center/cover;
}

.card-top {
    position: absolute;
    bottom: 50%;
    left: -10%;
    opacity: 0;
    animation: slideleft 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards 300ms;
}
@keyframes slideleft {
    0% { 
        transform: translate(-300px, 10%);
        opacity: 0;
    }
    
    100% {
        transform: translate(25%, -10%);
        opacity: 1;
    }
}

.card-back {
    position: absolute;
    top: 50%;
    right: -15%;
    opacity: 0;
    animation: slideright 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards 500ms;
}

@keyframes slideright {
    0% { 
        transform: translate(300px, -10%);
        opacity: 0;
    }
    
    100% {
        transform: translate(10%, 10%);
        opacity: 1;
    }
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: clamp(10em, calc(100% - 3em), 25em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    margin: 0 1.5em;

}

.card-holder-name label,
.card-number label,
.expiration-date label,
.security-code label {
    display: block;
}

.card-holder-name input,
.card-number input,
.expiration-date input {
    width: 100%;
}

.card-holder-name input,
.card-number input,
.expiration-date input,
.security-code input {
    border: 0.1em solid var(--light-grayish-violet);
    border-radius: 0.5em;
}

.card-holder-name label,
.card-number label,
.expiration-date label,
.security-code label {
    color: var(--very-dark-violet);
    margin-bottom: 0.5em;
}

.card-holder-name input,
.card-number input,
.expiration-date input,
.security-code input {
     padding: 0.5em;
 }
.expiration-date input {
    width: 50px;
}

.security-code input {
    width: 80px;
}

.exp-date_security-code {
    display: flex;
    justify-content: space-between;
}

form button {
    cursor: pointer;
    color: var(--light-grayish-violet);
    background: var(--very-dark-violet);
    padding: 1em;
    border-radius: 0.5em;
}
